@model ACPEFINAL.Models.Aluno

@{
    ViewData["Title"] = $"Perfil do Aluno - {Model.Nome}";
    string dataFormatada = Model.DataNascimento.ToString("dd/MM/yyyy");
}

<link href="~/css/perfil-aluno.css" rel="stylesheet" />

<div class="welcome">
    <h1 class="text-center">Seja bem-vindo aluno, @Html.DisplayFor(model => model.Nome)</h1>
</div>
<div class="container">
    <div class="info-professor">
        <div class="img-perfil">
            <img src="https://dol.ismcdn.jp/mwimgs/f/5/-/img_f5aa31eb22c71434149cc6c38bcd9a96257528.jpg" alt="imagem do aluno">
        </div>
        <div class="inf-basica">
            <div class="label ">
                <span class="text-center">Informações básicas</span>
            </div>
            <div class="capsula">
                <div class="label">
                    <h3>Nome</h3>
                </div>
                <div class="conteudo">
                    <p>@Model.Nome</p>
                </div>
            </div>
            <div class="capsula">
                <div class="label">
                    <h3>Data de nascimento</h3>
                </div>
                <div class="conteudo">
                    <p>@dataFormatada</p>
                </div>
            </div>
            <div class="capsula">
                <div class="label">
                    <h3>CPF</h3>
                </div>
                <div class="conteudo">
                    <p>@Model.Cpf</p>
                </div>
            </div>
            <div class="capsula">
                <div class="label">
                    <h3>Gênero</h3>
                </div>
                <div class="conteudo">
                    <p class="">
                        @Model.Sexo
                    </p>
                </div>
            </div>
        </div>
        <div class="inf-contato">
            <div class="label">
                <span class="text-center">Informações de contato</span>
            </div>
            <div class="capsula">
                <div class="label">
                    <h3>E-mail</h3>
                </div>
                <div class="conteudo">
                    <p class="">
                        @Model.Email
                    </p>
                </div>
            </div>
            <div class="capsula">
                <div class="label">
                    <h3 class="">Telefone</h3>
                </div>
                <div class="conteudo">
                    <p class="">
                        @Model.Telefone
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
