<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ACPEFINAL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ACPEFINAL.styles.css" asp-append-version="true" />
</head>
<body>

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" style="position:inherit;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-3">
                <img src="~/img/logoacpe.png" style="width: 50px;" alt="logo do projeto de Auxiliar de Comunicação entre Pais e Escola" />
            </span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a asp-controller="Home" asp-action="Index" class="nav-link @(ViewData["Title"] == "Home Page" ? "active" : "")">Home</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Administrador" asp-action="ListarAlunos" class="nav-link @(ViewData["Title"] == "Listar Alunos" ? "active" : "")">Listar alunos</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Administrador" asp-action="ListarProfessor" class="nav-link @(ViewData["Title"] == "Listar Professores" ? "active" : "")">Listar professores</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Administrador" asp-action="Index" class="nav-link @(ViewData["Title"] == "Cadastro de Usuarios" ? "active" : "")">Cadastro</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Administrador" asp-action="Duvidas" class="nav-link @(ViewData["Title"] == "Duvidas" ? "active" : "")">Dúvidas</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Login" asp-action="Logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </header>


    <main role="main" class="pb-3">
        @RenderBody()
    </main>



    <footer class="rodape">
        <p>Desenvolvido por &copy;Grupo 7</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
