@model IEnumerable<ACPEFINAL.Models.Duvida>

@{
    ViewData["Title"] = "Duvidas";
}

<link href="~/css/admin.css" rel="stylesheet" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pergunta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPergunta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resposta)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pergunta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPergunta)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Resposta))
                    {
                        @Html.DisplayFor(modelItem => item.Resposta)
                    }
                    else
                    {
                        <a class="btn btn-outline" onclick="exibirModal('@item.IdPergunta', '@item.Pergunta')">
                            Responder
                        </a>
                    }
                </td>
                <td>
                    @Html.ActionLink("Deletar", "Delete", new { id = @item.IdFaq })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container">
    <div class="title-padrao">
        <h1 class="text-center">Dúvidas</h1>
    </div>
    <div class="container-table">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Pergunta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataPergunta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Resposta)
                    </th>
                </tr>
            </thead>
           @foreach (var item in Model)
                {
            <tbody class="corpo-tabela">
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pergunta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataPergunta)
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.Resposta))
                            {
                                @Html.DisplayFor(modelItem => item.Resposta)
                            }
                            else
                            {
                                <a class="btn btn-responder btn-outline" onclick="exibirModal('@item.IdPergunta', '@item.Pergunta')">
                                    Responder
                                </a>
                                @*<button type="button" class="btn btn-primary responderBtn" data-id="@item.IdPergunta">Responder</button>*@
                            }
                        </td>
                    </tr>
            </tbody>
            }
        </table>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Responder pergunta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form action="@Url.Action("ResponderDuvida", "Administrador")" method="post">
                    <div class="col-md-14">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label for="modal-pergunta">Pergunta:</label>
                                    <input style="border:none; cursor:help;" readonly type="text" class="form-control" id="modal-pergunta" name="pergunta">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="modal-id" name="id">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label for="modal-apelido">Resposta</label>
                                    <textarea class="form-control" id="respostaTextarea" rows="5" name="resposta"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    function exibirModal(id, pergunta) {
        $('#modal-id').val(id);
        $('#modal-pergunta').val(pergunta);
        $('#exampleModal').modal('show');
    }
</script>